@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Press+Start+2P&display=swap');

body {
  font-size: 16px;
  background-color: #0d6efd;
}

.main-title {
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  color: #fff;
  font-size: 42px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0 6px;
  line-height: 24px;
}

.btn {
  border: 2px solid black;
  cursor: pointer;
}

.score-title {
  margin-top: 5px 0 0 0;
  margin-left: 15px;
  text-transform: uppercase;
}

#header {
  padding: 18px 40px;
}

#main {
  display: flex;
  justify-content: space-between;
  padding: 18px 120px;
}

.lists-score {
  width: 50%;
}

.lists-score-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scores-section {
  border: 2px solid black;
  margin-top: 10px;
  background-color: rgb(20, 145, 234);
  border-radius: 20px;
}

.scores-section li {
  margin: 5px 0;
}

.score {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-weight: 500;
}

.score:nth-child(even) {
  background-color: rgb(84, 43, 89);
}

.btn-refresh {
  padding: 7px 15px;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
  align-self: flex-end;
  border: 1px solid #64d68a;
  border-radius: 5px;
  background-color: #64d68a;
}

.add-score {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: #f3f1f1;
  border: 1px solid #ccc5c5;
  height: 30%;
  padding: 20px 0;
  border-radius: 20px;
  margin-top: 30px;
}

#form-add-score {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 85%;
  margin-left: 23px;
}

#form-add-score > * {
  margin: 5px 0;
}

input {
  font-size: 14px;
}

#score {
  height: 30px;
}

#name {
  height: 30px;
}

#add-btn {
  padding: 7px 15px;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
  align-self: flex-end;
  border: 1px solid #64d68a;
  border-radius: 5px;
  background-color: #64d68a;
}

@media screen and (max-width: 768px) {
  #header {
    padding: 0;
    text-align: center;
  }

  #main {
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    align-items: center;
  }

  .lists-score {
    width: 100%;
    margin-top: 24px;
    order: 1;
  }

  .add-score {
    width: 100%;
  }
}
